html{
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e3a8a);
    color:white;
    font-family:Arial,sans-serif;
}

h1{
    font-size:65px;
    margin-top:20px;
}

h2{
    color:#38bdf8;
    font-size:35px;
    #typing{
    color:#38bdf8;
    font-weight:bold;
}
}

p{
    font-size:22px;
    line-height:1.8;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;

    position:sticky;
    top:0;
    background:#16213e;
    z-index:1000;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font: size 20px;
    transition:0.3s;
}

nav ul li a:hover{
    color:#38bdf8;
}

.logo{
    color:#38bdf8;
    font: size 40px;
    font-weight:bold;

}

.hero{
    text-align:center;
    padding:100px 20px;
}
.profile-img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    border: 5px solid #38bdf8;
    box-shadow: 0 0 25px rgba(56, 189, 248, 0.8);
    display: block;
    margin: 0 auto 30px;
    overflow: hidden;
}
.about{
    padding:80px 120px;
    text-align:center;
}

.about h2{
    font-size:40px;
    color:#38bdf8;
    margin-bottom:20px;
}

.about p{
    font-size:20px;
    line-height:1.8;
    max-width:900px;
    margin:auto;
}
.skills{
    padding:80px 60px;
    text-align:center;
}

.skills h2{
    font-size:40px;
    color:#38bdf8;
    margin-bottom:40px;
}

.skill-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.skill-card{
    background:white;
    color:#0f172a;
    width:200px;
    padding:20px;
    border-radius:12px;
    font-size:20px;
    font-weight:bold;
    transition:0.3s;
}

.skill-card:hover{
    transform:translateY(-8px);
    background:#38bdf8;
    color:white;
}
.projects{
    padding:80px 60px;
    text-align:center;
}

.projects h2{
    font-size:40px;
    color:#38bdf8;
    margin-bottom:40px;
}

.project-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
}

.project-card{
    background:white;
    color:#222;
    width:320px;
    padding:25px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);

    transition:0.4s;
}

.project-card:hover{
    transform:translateY(-12px);
    box-shadow:0 15px 30px rgba(0,0,0,0.5);
}

.project-card h3{
    margin-bottom:15px;
}
.btn{
    display:inline-block;
    margin-top:25px;
    padding:12px 25px;
    background:#38bdf8;
    color:white;
    text-decoration:none;
    border-radius:30px;
    font-size:18px;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    background:#0ea5e9;
    transform:scale(1.05);
}
.contact{
    padding:80px 10%;
    text-align:center;
}

.contact h2{
    font-size:40px;
    color:#38bdf8;
    margin-bottom:25px;
}

.contact p{
    font-size:20px;
    margin:12px 0;
}
.social-links{
    margin-top:30px;
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}
.btn{
    display:inline-block;
    padding:12px 25px;
    background:#38bdf8;
    color:white;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
    transition:0.3s ease;
}

.btn:hover{
    background:#0ea5e9;
    transform:translateY(-5px);
    box-shadow:0 8px 20px rgba(56,189,248,0.5);
}
.hidden{
    opacity:0;
    transform:translateY(60px);
    transition:all 0.8s ease;
}

.show{
    opacity:1;
    transform:translateY(0);
}
#topBtn{
    display:block;
    position:fixed;
    bottom:30px;
    right:30px;
    z-index:99;
    border:none;
    outline:none;
    background:#38bdf8;
    color:white;
    cursor:pointer;
    padding:15px;
    border-radius:50%;
    font-size:20px;
}

#topBtn:hover{
    background:#0ea5e9;
}

.menu-toggle{
    display:none;
    font-size: 28px;
    cursor: pointer;
    color: white;
}
@media (max-width: 768px) {

.menu-toggle{
    display: block;
    font-size: 28px;
    cursor: pointer;
    color: white;
}

nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
    
nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

nav ul.active {
    display: flex;
}
    .hero {
        padding: 60px 20px;
        text-align: center;
    }

    .hero h1 {
        font-size:1.8rem;
        line-height:1.3;
    }

    .hero h2 {
        font-size: 1.3rem;
        word-wrap: break-word;
    }

    .hero img,
    .profile-img {
        width: 220px;
        height: 220px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center top%;
        border: 5px solid #38bdf8;
        box-shadow: 0 0 25px rgba(56, 189, 248, 0.8);
        display: block;
        margin: 0 auto 30px;
        transition: all 0.4s ease;
}

    .hero img:hover,
    .profile-img:hover {
        box-shadow: 0 0 40px rgba(56, 189, 248, 1);
}
    .skills-container,
    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .skill-card,
    .project-card {
        width: 90%;
    }

    #topBtn {
        bottom: 20px;
        right: 20px;
    }
}
.profile-img {
    width: 220px !important;
    height: 220px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
    object-position: center top !important;
    overflow: hidden !important;
    display: block !important;
    margin: 0 auto 30px !important;
    border: 5px solid #38bdf8 !important;
    box-shadow: 0 0 25px rgba(56,189,248,0.8) !important;
}
